@import url("https://fonts.googleapis.com/css2?family=Rowdies&family=Saira+Stencil+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rowdies&family=Saira+Stencil+One&family=Sigmar+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rowdies&family=Saira+Stencil+One&family=Sigmar+One&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-grid {
  width: 1200px;
  margin: 0 auto;
}

/* INICIO HEADER */
header {
  background-color: #067bc2;
  height: 100px;
}
.header_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buscar {
  width: 603px;
  height: 50px;
  background: rgba(249, 249, 249, 0.72);
  border-radius: 30px;
  font-size: 20px;
  padding-left: 20px;
}
.login {
  display: flex;
  align-items: center;
  width: 200px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 18px;
}
nav {
  margin-top: 7px;
  background-color: black;
  height: 50px;
  color: black;
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Saira Stencil One";
  text-transform: uppercase;
}
.header_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 12px;
}

nav a:hover {
  color: #067bc2;
}
/* FIM HEADER */

/* INICIO QUADROS */

.quadros_1 {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px 0;
}
.quadros {
  width: 264px;
  height: 306px;
  text-align: center;
  margin: 0 auto;
}

.quadros p {
  font-family: "Source Sans Pro";
  font-size: 33px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

/* INICIO QUADROS */

/* INICIO CARROCEL */
.black {
  background-color: rgb(153, 152, 152);
  height: 900px;
}
.carrocel {
  margin-top: 50px;
  display: flex;
  margin-top: 100px;
}
.foto_carrocel {
  width: 842px;
  height: 442px;
  display: flex;
  margin: 0 auto;
}

.preço {
  margin: 0 auto;
  width: 483px;
  height: 262px;
  color: white;
  font-size: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preço p {
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.titulo {
  margin-top: 50px;
  border-bottom: solid white 10px;
}
.titulo h1 {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.btn {
  width: 250px;
  height: 80px;
  background-color: #067bc2;
  font-size: 30px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

/* FIM CARROCEL */

/* INICIO LANCAMENTOS */

.h1_lanc {
  color: #067bc2;
  font-size: 60px;

  text-transform: uppercase;
  font-weight: bold;
  margin: 50px 0 50px 0;
}

.lancamentos {
  display: flex;
  justify-content: space-evenly;
}

.card_lancamentos {
  width: 380px;
  height: 475px;
  text-align: center;
  display: flex;
  margin-left: 50px;
}
.card_lancamentos h6 {
  font-size: 20px;
  color: #067bc2;
  text-align: center;
  padding-top: 10px;
}

.card_lancamentos p {
  font-size: 25px;
  color: #067bc2;
  text-align: center;
  font-weight: bold;
}
.card_lancamentos a {
  text-decoration: none;
}

.Button {
  display: flex;
  justify-content: center;
}

.Buton {
  width: 250px;
  height: 80px;
  background-color: #067bc2;
  font-size: 30px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 50px;
  align-items: center;
}
/* FIM LANCAMENTOS */

/* INICIO EMAIL */

.email_1 {
  height: 300px;
  background-color: #067bc2;
  align-items: center;
  display: flex;
  text-align: center;
}

.email_1 h3 {
  font-size: 47px;
  padding-bottom: 20px;
  color: black;
}

.email_3 input {
  background: white;
  width: 800px;
  height: 81px;
  font-size: 40px;
  font-weight: bold;
  border: 0 none;
  outline: 0;
  align-items: center;
}

.email_3 {
  background: white;

  height: 81px;
  border-radius: 50px;
}
.email_3 img {
  padding-bottom: 20px;
}

/* FIM EMAIL */

/* INICIO PROCURADOS */
.card_lancamentos_1 {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}
.card_procurados {
  width: 366px;
  height: 620px;
  background-color: #067bc2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_procurados h5 {
  padding: 20px 0 20px 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.card_procurados h3 {
  font-size: 36px;
  color: white;
  font-weight: bold;
  padding: 20px 0 20px 0;
}
.btn_proc {
  width: 170px;
  height: 40px;
  background-color: white;
  color: #067bc2;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 30px;
  font-weight: bold;
}
.btn_proc a {
  text-decoration: none;
}
.btn_proc a:hover {
  color: black;
}
.maps {
  margin-top: 100px;
  background-image: url(fotos/footer/maps.png);
  height: 541px;
  background-position: center;
  background-repeat: no-repeat;
}
.dados {
  width: 490px;
  height: 166px;
  background: rgba(255, 255, 255, 0.8);
}

.dados h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.dados p {
  font-size: 18px;
  text-transform: uppercase;
}

.redes {
  height: 95px;
  background-color: black;
  align-items: center;
  padding-top: 30px;
}

.redes_1 {
  display: flex;
  justify-content: space-between;
}
.redes p {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  color: white;
  text-transform: uppercase;
}
.redes_logos {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.footer_email {
  padding-top: 20px;
  height: 160px;
  background-color: #067bc2;
  color: white;
  display: flex;
  flex-direction: column;
}
.footer_email p {
  padding: 10px 0 0 18px;
}
.footer_email a {
  font-size: 30px;
  color: white;
  align-items: center;
  text-decoration: none;
}
.footer_email p img {
  padding-right: 25px;
}
