@import url("https://fonts.googleapis.com/css2?family=Rowdies&family=Saira+Stencil+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rowdies&family=Saira+Stencil+One&family=Sigmar+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rowdies&family=Saira+Stencil+One&family=Sigmar+One&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-grid {
  width: 1200px;
  margin: 0 auto;
}

/* INICIO HEADER */
header {
  background-color: #067bc2;
}
.header_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buscar {
  width: 603px;
  height: 50px;
  background: rgba(249, 249, 249, 0.72);
  border-radius: 30px;
  font-size: 20px;
  padding-left: 20px;
}
.login {
  display: flex;
  align-items: center;
  width: 200px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 18px;
}
nav {
  margin-top: 7px;
  background-color: black;
  height: 50px;
  color: black;
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Saira Stencil One";
  text-transform: uppercase;
}
.header_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 12px;
}

nav a:hover {
  color: #067bc2;
}
/* FIM HEADER */

.titulo_monte h1 {
  font-family: "Saira Stencil One";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 100px;
  color: #001aff;
  margin: 50px 0 50px 0;
}
.titulo_h3 {
  width: 1520px;
  height: 78px;
  background-color: #067bc2;
  border-radius: 20px;
  margin-bottom: 50px;
}
.titulo_h3 h3 {
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  font-family: "Saira Stencil One";
}

/* INICIO CARROCEL */
.black {
  background-color: rgb(36, 0, 194);
  height: 500px;
}
.carrocel {
  margin-top: 50px;
  display: flex;
  margin-top: 100px;
}
.foto_carrocel {
  width: 842px;
  height: 442px;
  display: flex;
  margin: 0 auto;
}

.preço {
  margin: 0 auto;
  width: 483px;
  height: 262px;
  color: white;
  font-size: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preço p {
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.titulo {
  margin-top: 50px;
  border-bottom: solid white 10px;
}
.titulo h1 {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.btn {
  width: 250px;
  height: 80px;
  background-color: #067bc2;
  font-size: 30px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

/* FIM CARROCEL */

aside {
  text-align: center;
}

aside p {
  font-size: 40px;
  font-style: italic;
  font-family: "roboto";
}

/* INICIO QUADROS */

.quadros_1 {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px 0;
}
.quadros {
  width: 264px;
  height: 306px;
  text-align: center;
  margin: 0 auto;
}

.quadros:hover {
  width: 264px;
  height: 270px;
  background-color: #067bc2;
  border-radius: 30px;
}

.quadros p {
  font-family: "Source Sans Pro";
  font-size: 33px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
/* FIM QUADROS */

/* Produtos */

.total-produtos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.produtos-video {
  width: 350px;
  height: 532px;
  margin-bottom: 100px;
}

.produtos-video:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.produtos-video h3 {
  font-size: 30px;
  text-align: center;
}

.produtos-video p {
  font-size: 30px;
  font-weight: bold;
}

/* footer */

.maps {
  margin-top: 100px;
  background-image: url(fotos/footer/maps.png);
  height: 541px;
  background-position: center;
  background-repeat: no-repeat;
}
.dados {
  width: 490px;
  height: 166px;
  background: rgba(255, 255, 255, 0.8);
}

.dados h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.dados p {
  font-size: 18px;
  text-transform: uppercase;
}

.redes {
  height: 95px;
  background-color: black;
  align-items: center;
  padding-top: 30px;
}

.redes_1 {
  display: flex;
  justify-content: space-between;
}
.redes p {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  color: white;
  text-transform: uppercase;
}
.redes_logos {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.footer_email {
  padding-top: 20px;
  height: 160px;
  background-color: #067bc2;
  color: white;
  display: flex;
  flex-direction: column;
}
.footer_email p {
  padding: 10px 0 0 18px;
}
.footer_email a {
  font-size: 30px;
  color: white;
  align-items: center;
  text-decoration: none;
}
.footer_email p img {
  padding-right: 25px;
}
